[submodule "deps/vera"]
	path = deps/vera
	url = https://github.com/patriciogonzalezvivo/vera.git
	# url = git@github.com:patriciogonzalezvivo/vera.git
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = git@github.com:pybind/pybind11.git
