.DS_Store
*.o
bin/glslViewer
debian/glslviewer
debian/debhelper-build-stamp
debian/files
debian/glslviewer.debhelper.log
debian/glslviewer.substvars
build/*
dist/*
python/glslviewer.egg-info/*
.vscode/browse.db*
/prj/.vs/glslViewer/v16/.suo
/prj/.vs/glslViewer/v16
/prj/obj/Debug
/prj/glew.vcxproj
/prj/glfw.vcxproj
/prj/glfw.vcxproj.filters
/prj/bin/Debug
/prj/*.vcxproj
/prj/*.filters
/prj/*.user
