
.DS_Store
*.o

glslViewer
x32/*
x64/*

debian/glslviewer
debian/debhelper-build-stamp
debian/files
debian/glslviewer.debhelper.log
debian/glslviewer.substvars

.vscode/browse.db*
.vs/glslViewer/v16/.suo
.vs/glslViewer/v16

*.vcxproj
*.filters
*.user
*.sln
.vs/glslViewer/v15/.suo
.vs/glslViewer/v15/Browse.VC.db
.vs/glslViewer/v15/Solution.VC.db
.vs/glslViewer/v15/Solution.VC.db-shm
.vs/glslViewer/v15/Solution.VC.db-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
premake5.exe

build/
build_wasm/

.vscode/*.log

CMakeFiles
cmake_install.cmake
CMakeCache.txt
CMakeFiles


Debug/
Release/
