[Desktop Entry]
Version=1.6
Name=GlslScreenSaver Daemon
Name[en_GB]=GlslScreenSaver Daemon
Name[en_US]=GlslScreenSaver Daemon
GenericName=GlslScreenSaver Daemon
GenericName[en_GB]=GlslScreenSaver Daemon
GenericName[en_US]=GlslScreenSaver Daemon
Comment=Run Glsl Shaders as screensavers using glslViewer
Comment[en_GB]=Run Glsl Shaders as screensavers using glslViewer
Comment[en_US]=Run Glsl Shaders as screensavers using glslViewer

Type=Application
Icon=/usr/share/pixmaps/glslViewer.png
Exec=glslScreenSaver daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true

