[Desktop Entry]
Version=1.6
Name=GlslViewer
Name[en_GB]=GlslViewer
GenericName=Glsl shader sandbox
GenericName[en_GB]=Glsl shader sandbox
Comment=Shader sandbox for 2D and 3D
Type=Application
Exec=glslViewer %F --msaa --fxaa -e dynamic_shadows,on
Icon=/usr/local/share/pixmaps/glslViewer.png
Terminal=true
MimeType=model/mesh;model/x-ply;model/x-obj;model/x-glb;model/x-gltf;
Categories=Graphics;3DGraphics;Viewer;
NoDisplay=true
